#dependencies
/node_modules

#testing
/coverage

#production
/buold

#misc
.DS_Store
.env_local
.env_development.env_local
.env_test.env_local
.env_production.env_local
npm-debug.log*
yarn-debug.log*
yarn-error.log*